.root {
    composes: grid from global;
    composes: gap-y-1.5 from global;
}

.heading {
    composes: font-bold from global;
    composes: pb-1.5 from global;
    display: inline-flex;
}

.heading span {
    font-weight: 400;
    font-size: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
    background-color: #e8aa00;
    border-radius: 50%;
    padding: 0 0.3rem;
    margin: 0 0.3rem;
}
