/* Breadcrumbs */
.root {
    --whitespace-start: 1rem;
    --whitespace-end: 10px;

    composes: h-auto from global;
    padding-left: var(--whitespace-start);
    padding-top: var(--whitespace-start);
    padding-bottom: var(--whitespace-end); /* Allow space for focus ring */
    margin-bottom: calc(-1 * var(--whitespace-end)); /* Prevent focus ring space affecting the rest of the UI */
    font-size: 0.875rem;

    /* Permanent height to prevent pop-in. */
    height: calc(0.875rem + var(--whitespace-start) + var(--whitespace-end));

    /* Show ellipses when overflowing. */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text {
    padding: 0.25rem;
}

.divider {
    composes: text;
}

.link {
    composes: text;
    text-decoration: underline;
}

.currentPage {
    composes: text;
}

/* Buttons */
.switchViewButtonContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 10px;
}

.allCoursesButton {
    composes: root_highPriority from '@magento/venia-concept/src/components/Button/button.module.css';
    width: minmax(280px, 350px);
}

.inProgressButton {
    composes: root_normalPriority from '@magento/venia-concept/src/components/Button/button.module.css';
    width: minmax(280px, 350px);
}

/* Catalog */
.container {
    display: grid;
    padding: 1rem;
    row-gap: 2rem;
}

.bodyContainer {
    display: grid;
    row-gap: 2rem;
}

.pageTitle {
    justify-self: center;
    font-weight: bold;
    font-size: 25px;
}

.courseContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 10px;
}
