.mainWrapper {
    margin-top: 3rem;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.headerText {
    font-size: var(--venia-global-fontSize-700);
    font-weight: var(--venia-global-fontWeight-bold);
}
.showBtn {
    color: rgb(var(--venia-global-color-yellow-400));
    font-weight: 500;
    font-size: var(--venia-global-fontSize-200);
    display: inline-flex;
    width: 298px;
}

.image {
    margin: 0 !important;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media (max-width: 650px) {
    .grid {
        grid-template-columns: 1fr;
    }
    .headerText {
        font-size: var(--venia-global-fontSize-200);
        font-weight: var(--venia-global-fontWeight-semibold);
    }
    .showBtn {
        font-weight: 400;
        font-size: var(--venia-global-fontSize-100);
        width: auto;
    }
}
