.container {
    display: grid;
    padding: 1rem;
    row-gap: 2rem;
}

.pageTitle {
    justify-self: center;
    font-weight: bold;
    font-size: 25px;
}

.courseContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 10px;
}
