/* global tokens */
:global(:root) {
    /* color */
    --orienteed-global-color-orange: #e8ab00;
    --orienteed-global-color-gray: #808080;
    --orienteed-global-color-black: #28282b;
    --orienteed-global-color-orange-op: 232, 171, 0;
    --orienteed-global-color-gray-op: 128, 128, 128;
    --orienteed-global-color-black-op: 40, 40, 43;
}

/* alias tokens */
:global(:root) {
    /* colors */
    --orienteed-primary-color-base1: var(--orienteed-global-color-orange);
    --orienteed-primary-color-base2: var(--orienteed-global-color-gray);
    --orienteed-primary-color-base3: var(--orienteed-global-color-black);
}
