/* global tokens */
:global(:root) {
    /* color */
    --b2bstore-global-color-orange: #e8ab00;
    --b2bstore-global-color-orange-hover: #dc8b10;
    --b2bstore-global-color-gray: #808080;
    --b2bstore-global-color-black: #28282b;
    --b2bstore-global-color-orange-alpha: 232, 171, 0;
    --b2bstore-global-color-gray-alpha: 128, 128, 128;
    --b2bstore-global-color-black-alpha: 40, 40, 43;
    /* fonts */
    --b2bStore-footer-title-font-size: 20px;
    --b2bStore-footer-text-font-size: 14px;
    --b2bStore-footer-color: #0c0c0c;
    --b2bStore-font-family: 'Lato', sans-serif;
    --b2bStore-font-color: #676f71;
    /* field input */
    --b2bStore-fieldInput-border-color: #eaecee;
    /*border */
    --b2bStore-border-radius: 30px;
    /*background */
    --b2bStore-background-color-hover: #ffc82f;
}

/* alias tokens */
:global(:root) {
    /* colors */
    --b2bstore-global-color-orange: var( --b2bstore-global-color-orange);
    --b2bstore-global-color-orange-hover: var( --b2bstore-global-color-orange-hover);
    --b2bstore-global-color-gray: var( --b2bstore-global-color-gray);
    --b2bstore-global-color-black: var( --b2bstore-global-color-black);
    /* font */
    --b2bStore-font-family: var(--b2bStore-font-family);
    /*border */
    --b2bStore-border-radius: var(--b2bStore-border-radius);
    --b2bStore-fieldInput-border-color: var(--b2bStore-fieldInput-border-color);
    --b2bStore-font-color: var(--b2bStore-font-color);
    --b2bStore-background-color-hover: var(--b2bStore-background-color-hover);
}
