.root {
    --stroke: var(--venia-global-color-gray-600);
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 4rem 1fr;
    grid-column-gap: 0.5rem;
    align-items: center;
    justify-items: center;
}

.input {
    background: #ffffff;
    /* composes: input from '@magento/venia-ui/lib/components/TextInput/textInput.module.css'; */
    border: 1px solid #eaecee;
    border-radius: 8px;
    padding: 12px 16px;
    text-align: center;
    width: 100%;
}
